div.navigator-toolbar-container {
    background-color: rgb(237, 242, 246);
    height: 24px;
    bottom: 0;
    position: fixed;
    border-top: solid 2px rgb(214, 216, 217);
    width: 300px;
}